.container {
  width: 20rem;
  border-right: 1px solid rgb(107, 169, 216);
  color: rgb(107, 169, 216);
}

.title {
  font-size: 2rem;
  padding-left: 1rem;
}

.link {
  display: block;
  padding: 1rem;
}

.link:hover {
  color: white;
  background: rgb(107, 169, 216);
}
